:root {
  --primary-color: #00adb5;
  --secondary-color: #212529;
  --accent-1: #393e46;
  --accent-2: rgb(237, 237, 237);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  scroll-behavior: smooth !important;
  -webkit-scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

/**************************************** hero section ****************************************/
.hero {
  font-weight: 600;
  height: 100vh;
  background-image: linear-gradient(rgba(3, 4, 7, 0.9), rgba(5, 10, 30, 0.9)),
    url("images/hero-background.jpg");
  background-size: cover;
  background-position: center;
}

.hero__text > * {
  color: #f8f9fa;
  font-weight: 700;
  width: 100vw;
  text-align: center;
}

.hero-text-name {
  color: var(--primary-color);
}

.hero__text h1 {
  font-size: 75px;
}

.hero__text h2 {
  font-size: 45px;
}

@media only screen and (max-width: 912px) {
  .hero__text h1 {
    font-size: 45px;
  }

  .hero__text h2 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 575px) {
  .hero__text h1 {
    font-size: 28px;
  }

  .hero__text h2 {
    font-size: 24px;
  }

  .ms-auto {
    margin: auto;
  }
}

/**************************************** about section ****************************************/

.about {
  background-color: var(--primary-color);
  padding: 20px 0 60px 0;
}

.about-me__container {
  margin-top: 40px;
}

.about__header {
  text-align: center;
  margin: 40px 0 20px 0;
  font-weight: 700;
}

.skills__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.skills__row {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.skills__item img {
  max-height: 100px;
  box-shadow: #393e46;
}

.skills__item {
  box-shadow: inset 0 0 10px black;
  border-radius: 10%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.skills__text {
  font-size: 20px;
  margin: 0;
}

@media only screen and (max-width: 575px) {
  .skills__item img {
    width: 50%;
  }

  .skills__text {
    font-size: 4vw;
  }
}

/**************************************** projects section ****************************************/
.projects {
  background-color: var(--secondary-color);
  padding: 20px 0 20px 0;
  color: var(--accent-2);
}

.projects__header {
  text-align: center;
  margin: 80px 0 30px 0;
  font-weight: 700;
}

.project__name {
  font-weight: 700;
  margin-top: 10px;
}

.project__row {
  padding-top: 30px;
  margin: 40px;
}

.project__tool-list {
  list-style-type: none;
  padding: 0;
  gap: 20px;
}

.project__tool-list li h4 {
  color: var(--primary-color);
  font-weight: 600;
}

.project__container img {
  width: 90%;
  box-shadow: 0 0 20px 10px #000000;
}

.project--left {
  display: flex;
  justify-content: end;
  text-align: right;
}

.project--right {
  display: flex;
  justify-content: start;
  text-align: left;
}

.button {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.button-right {
  justify-content: end;
}

button a {
  text-decoration: none;
  color: white;
}

.btn-primary {
  background-color: var(--primary-color);
  border-style: none;
}

.btn-primary:hover {
  background-color: #008b91;
}

@media only screen and (max-width: 991px) {
  .project--left,
  .project--right {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .button {
    justify-content: center;
  }

  .row--1 {
    display: flex;
    flex-direction: column-reverse;
  }
}

/**************************************** contact section ****************************************/
.contact {
  background-color: var(--secondary-color);
  padding: 20px 0 60px 0;
  color: var(--accent-2);
}

.contact__container {
  background-color: var(--primary-color);
  box-shadow: 0 0 40px 10px #000000;
  color: black;
  padding: 6%;
  margin: 0 auto 0;
}

.contact__header {
  text-align: center;
  margin: 80px 0 50px 0;
  font-weight: 700;
}

.contact__form {
  margin-top: 30px;
}

.form--1 {
  display: flex;
  justify-content: space-between;
}

.contact__source {
  width: 49%;
}

.contact__source input {
  width: 100%;
  padding: 25px 25px;
  margin: 8px 0;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px var(--secondary-color);
}

.container__message textarea {
  border-radius: 5px;
  padding: 25px 25px;
  width: 100%;
  margin: 8px 0;
  min-height: 15vh;
  font-size: 18px;
  box-shadow: inset 1px 1px 3px var(--secondary-color);
}

.container__submit {
  margin: 20px 0;
}

@media only screen and (max-width: 991px) {
  .contact__container {
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {    
  .contact__form, .container__submit {
  padding: 0 20px;
}
  .contact {
    background-color: var(--primary-color);
    padding: 20px 0 60px 0;
    color: black;
  }

  .container__message textarea {
    min-height: 22vh;
  }

  .contact__container {
    background-color: var(--primary-color);
    box-shadow: none;
    color: black;
    padding: 0;
    margin: 0;
  }

  .form--1 {
    display: flex;
    flex-direction: column;
  }

  .contact__source {
    width: 100%;
  }
}

/**************************************** contact section ****************************************/
.footer {
  background-color: var(--accent-1);
  display: flex;
  flex-direction: column;
  padding: 13px 0 3px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.footer__links img{
  width: 50px;
}

div .footer__links {
  margin: 0 5px;
}

.footer p {
  margin: 0;
  color: var(--accent-2);
}

/**************************************** animation on scroll ****************************************/
.hidden {
  opacity: 0;
  filter: blur(3px);
  transition: all 1.5s;
}

.h-top {
  transform: translateY(-100%);
}

.h-bottom {
  transform: translateY(20%);
} 

.h-left {
  transform: translateX(-100%);
}

.h-right {
  transform: translateX(100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
