:root {
    --primary-color: #00adb5;
    --secondary-color: #22831;
    --accent-1: #393E46;
    --accent-2: #EEEEEE;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
  }

/* hero section */
.hero {
    font-weight: 700;
    height: 100vh;
    background-image: linear-gradient(rgba(3, 4, 7, 0.9), rgba(5, 10, 30, 0.9)), url("images/hero-background.jpg");
    background-size: cover;
    background-position: center;
}

.hero-text h1, .hero-text h2{
    color: #F8F9FA;
    font-weight: 700;
    width: 100vw;
    text-align: center;
}

.hero-text-name {
    color: var(--primary-color);
}

.hero-text h1 {
    font-size: 75px;
}

.hero-text h2 {
    font-size: 45px;
}

@media only screen and (max-width: 912px) {
    .hero-text h1 {
        font-size: 45px;
      }
    .hero-text h2 {
        font-size: 35px;
    }
  }

/* navbar style withour bootstrap */
/* .hero-navigation-list {
    padding: 10px;
    background-color: var(--accent-1);
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
}

.hero-navigation-list-item a {
    text-decoration: none;
    color: var(--accent-2);
    margin: 0 5px;
}
 */
